html * {
    font-family: GilRoy !important;
}
html body h3 h4 h5 h6 {
    font-family: GilRoy, sans-serif !important;
    font-weight: normal !important;
}
h1 h2 .display-1 .display-2 .display-3 .display-4 {
    font-family: GilRoy, sans-serif !important;
    font-weight: bold;
}
html {
    overflow-x: hidden;
}
#kys_hya-header {
    background-color: #EFF2F7;
    border: none;
}
#omega-header {
    background-color: #D5ECFC;
    border: none;
}
.navbar-light .navbar-nav .nav-link {
    font-family: GilRoy, sans-serif;
    font-weight: bold;
    color: black;
}
.navbar .navbar-expand-lg .navbar-light {
    padding-top: -2rem;
    padding-bottom: -2rem;
}

.language-selector {
    padding-left: 1.5rem !important;
    color: #1688D1;
}
.language-selector:visited {
    color: #1688D1;
}
.dropdown-menu {
    min-width: auto;
}
@font-face {
    font-family: GilRoy;
    src: url("../fonts/gilroy-light.otf");
    font-weight: normal;
}
@font-face {
    font-family: GilRoy;
    src: url("../fonts/gilroy-extrabold.otf");
    font-weight: bold;
}
.vert-content {
     padding-top: 50%;
}
.vert-content-s {
    padding-top: 15%;
}
.horiz-content {
    padding-top: 15%;
}
.text-info {
    color: #1585D1 !important;
}

.img-product-carousel {
    display: block;
    padding: auto;
    margin: auto;
   
}

.hya-info {
    background-image: url("../img/hya-info.png");
    width: 491px;
    height: 744px;
    border:10px solid white;
}

.hya-info_en {
    background-image: url("../img/kyselina_english.png");
    width: 491px;
    height: 744px;
    border:10px solid white;
}

.baby-info {
    background-image: url("../img/baby-info.png");
    width: 761px;
    height: 362px;
    border-top: 10px solid white;
    border-left: 5px solid white;
    border-right: 10px solid white;
    border-bottom: none;
    margin-top: 6px;
}
.olej-info {
    background-image: url("../img/olej-info.png");
    width: 758px;
    height: 365px;
    border: 10px solid white;
    border-bottom-width: 5px;
    border-left-width: 5px;
}
.hya-info-s {
    background-image: url("../img/hya-info.png");
    width: auto;
    height: 270px;
    border:10px solid white;
}
.hya-info-s_en {
    background-image: url("../img/kyselina_english.png");
    width: auto;
    height: 270px;
    border:10px solid white;
}

.baby-info-s {
    background-image: url("../img/baby-info.png");
    width: auto;
    height: 270px;
    border:10px solid white;
}
.olej-info-s {
    background-image: url("../img/olej-info.png");
    width: auto;
    height: 270px;
    border:10px solid white;
}
.display-4 {
    font-family: GilRoy, sans-serif;
    font-weight: bold !important;
    color: #000000;
}
.bg-img-olej {
    background: url("../img/obr_sprch_olej_infopage.png") no-repeat center;
    background-size: cover;
    padding-top: 30px;
    padding-bottom: 50px;
    color: #ffffff;
    font-family: GilRoy, sans-serif;
    padding-left: 5% !important;
    padding-right: 30% !important;
}

.bg-img-olej_en {
    background: url("../img/sprch_olej_infopage_english.png") no-repeat center;
    background-size: cover;
    padding-top: 30px;
    padding-bottom: 50px;
    color: #ffffff;
    font-family: GilRoy, sans-serif;
    padding-left: 5% !important;
    padding-right: 30% !important;
}

.bg-img-lipbalm_en {
    background: url("../img/new/lip_balm_info_page.png") no-repeat center;
    background-size: cover;
    padding-top: 30px;
    padding-bottom: 50px;
    color: #ffffff;
    font-family: GilRoy, sans-serif;
    padding-left: 5% !important;
    padding-right: 30% !important;
}

.bg-img-olej_en_cbd {
    background: url("../img/new/cbd_info_pages.png") no-repeat center;
    background-size: cover;
    padding-top: 30px;
    padding-bottom: 50px;
    color: #ffffff;
    font-family: GilRoy, sans-serif;
    padding-left: 5% !important;
    padding-right: 30% !important;
}


.bg-img-babykrem {
    background: url("../img/obr_baby_krem_infopage.jpg") no-repeat center;
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 50px;
    color: #ffffff;
    font-family: GilRoy, sans-serif;
}
.text-babykrem {
    padding-left: 25% !important;
    padding-right: 25% !important;
}
.bg-img-kys_hya_en {
    background: url("../img/obr_kyselina_infopage_english.png") no-repeat center;
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 50px;
    color: #ffffff;
    font-family: GilRoy, sans-serif;
}
.bg-img-kys_hya {
    background: url("../img/obr_kyselina_infopage.png") no-repeat center;
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 50px;
    color: #ffffff;
    font-family: GilRoy, sans-serif;
}
.bg-img-kys_gel {
    background: url("../img/middle.png") no-repeat center;
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 50px;
    color: #ffffff;
    font-family: GilRoy, sans-serif;
}
.text-kys_hya {
    padding-left: 12% !important;
    padding-right: 12% !important;
}
.bg-img-sampon {
    background: url("../img/sampon_picture.png") no-repeat center;
    background-size: cover;
    padding-top: 120px;
    padding-bottom: 120px;
    color: #ffffff;
    font-family: GilRoy, sans-serif;
    padding-left: 15% !important;
    padding-right: 15% !important;
}

.text-sampon {
    padding-left: 10% !important;
    padding-right: 10% !important;
}

.small-text {
    font-size: x-large !important;
}

.iframe-container{
    position: relative;
    width: 100%;
}
.iframe-container > *{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    padding-left: 40px;
    padding-right: 40px;
    height: 250px;
    width: 100%;
}
td {
    padding-left: 10px;
    padding-right: 10px;
}

.button {
    padding: 3%;
}

.fb_inst {
    width: 90px;
    padding: 1%;

}

.fb_inst img {
    padding: 1%;
}

#lightSlider {
    height: 500px;
}